<html>
    <head>
        <title>TSDWL Project</title>
    </head>

    <h2>Create New Song</h2><br>
    <form method="post" th:action="@{/songs}">
        <label>Nome</label>
        <input type="text" name="nome" required /><br><br>
        <label>Genere</label>
        <input type="text" name="genere" required /><br><br>
        <label>Data</label>
        <input type="date" name="data" required /><br><br>
        <select name="singer">
            <option 
                th:each="singer:${singers}" 
                th:text="${singer.nome} + ' '+${singer.cognome}" 
                th:value="${singer.id}">
            </option>
        </select><br><br>
        <button type="submit">Aggiungi</button>
    </form>
    <br><br><br><br>
    <a href="/">Home</a>
</html>