<html>
    <head><title>TSDWL Project</title></head>
    <body>
        <h2>Lista Categorie</h2>

        <ul>
            <li th:each="category : ${categories}">
                <h3>
                    <a th:href="@{/categories/{id}(id=${category.id})}">
                        <span th:text="${category.nome}" />
                    </a>
                </h3>
            </li>
        </ul>

        <br>
        <h2>Crea una nuova category</h2>
        <br>
        <form method="post" action="/categories">
            <label>Nome</label>
            <input type="text" name="nome" required/><br><br>
            <label>Descrizione</label><br>
            <textarea  required rows="10" cols="40" name="descrizione"></textarea><br><br>
            <label>Creazione</label>
            <input type="number" name="creazione" required/><br><br>
            <button type="submit">Aggiungi</button>
        </form>

        <br><br><br>
        <h3><a href="/"/>Torna alla home</h3>
    </body>


</html>