<html>
    <head>
        <title>TSDWL Project</title>
    </head>
    <body>
        <h2>Create new Client</h2><br>
        
        <form method="post" action="/clients">
            <label>Nome</label>
            <input type="text" required name="nome" /><br><br>
            <label>Cognome</label>
            <input type="text" required name="cognome" /><br><br>
            <label>Età</label>
            <input type="number" required name="età" /><br><br>
            <button type="submit">Aggiungi</button>
        </form><br>
        
        <br>
    </body>
    <br><br><br>
    <a href="/">Home</a>
</html>