<html>
    <head>
        <title>TSDWL Project SpringBoot</title>
    </head>
    <body>
        <h2>Children Games list</h2>

        <ul>
            <li th:each="game:${children.games}" >
                <a th:href="@{/games/{id}(id=${game.id})}">
                    <span th:text="${game.nomeGioco}" />
                </a>
            </li>
            <br>
        </ul>

        <h2>Modifica o Rimuovi Children</h2>

        <form method="post" th:object="${children}" th:action="@{/childrens/{id}(id=${children.id})}">
            <input th:field="${children.id}" type="hidden" required name="id"/>
            <label>Nome Bambino</label>
            <input th:field="${children.nome}" type="text" required name="nome"/> <br><br>
            <label>Cognome Bambino</label>
            <input th:field="${children.cognome}"  type="text" required name="cognome"/> <br><br>
            <label>Età</label>
            <input th:field="${children.età}" type="number" required name="età"/> <br><br>
            <button type="submit">Aggiungi</button>
        </form>

    </body>

    <br><br><br><br><br>
    <a href="/">Home</a>
</html>