<html>
    <head>
        <title>SpringBoot TSDWL Project</title>
    </head>

    <h2>List Exams</h2>
    
    <ul>
        <li th:each="exam:${career.exams}">
            <h4> 
                <a th:href="@{/exams/{id}(id=${exam.id})}">
                    <span th:text="${exam.corso}"/>
                </a>
            </h4>
        </li>
    </ul>

    <h2>Modifica o Elimina Career</h2>
    
    <form th:object="${career}" method="post" th:action="@{/careers/{id}(id=${career.id})}">
        <input th:field="*{id}" type="hidden" required name="id"/><br><br>
        <label>NomeStudente</label>
        <input th:field="*{nomeStudente}" type="text" required name="nomeStudente"/><br><br>
        <label>CognomeStudente</label>
        <input th:field="*{cognomeStudente}" type="text" required name="cognomeStudente"/><br><br>
        <label>Matricola</label>
        <input th:field="*{matricola}" type="number" required name="matricola"/><br><br>
        <button type="submit">Modifica</button>
    </form>
    <form th:object="${career}" method="post" th:action="@{/careers/{id}(id=${career.id})}">
        <button type="submit">Elimina</button>
    </form><br>

    <br><br><br><br><br>
    <a href="/">Home</a>
</html>